body {
    font-family: 'Mirza', cursive;
}

.navbar {
    background-color: #e7ead6;
    /* margin:1em;
    border-radius:15px; */
    height:10vh;
}

.logo {
    width:50px;
}

.navbar-brand {
    font-size:1.5rem;
}

.navbar-nav .nav-link {
text-align: right;
font-size: 1.75rem;
opacity: 0.75;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border:solid 5px #dadec5;
}

.hero {
    padding-top:10vh;
}

.lead {
    font-size: 1.5rem;
}

.icon {
    width:30px;
}

.navbar-collapse {
    justify-content: end;
}

.container {
        max-width: 960px;
}

.greetings {
 margin-right:2em;
}

.hright{
    text-align: center;
}


#portfolio {
    background-color: #e7ead6;
    padding:2em 0;
}

.thbn {
    text-align: center;
    color: black;
    margin-top:0.5em;
}

.thb {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}   

.mini {
    display:flex;
    justify-content: center;
}
.contact {
    padding:2em 0;
}

.container__form {
    max-width:750px;
    width: 80%;
    margin: auto;
}
.mess {
    padding-top:1em;
}

.btn {
    background-color:#e7ead6;
    border: solid 1px #dadec5;
    padding:0.5em 1.5em;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
     justify-content:end;
    }
    }
    

