body {
    font-family: 'Mirza', cursive;
}

.navbar {
    background-color: #e7ead6;
    margin:1em;
    border-radius:15px;
}

.logo {
    width:50px;
}

.navbar-brand {
    font-size:1.5rem;
}

.navbar-nav .nav-link {
text-align: right;
font-size: 1.75rem;
opacity: 0.75;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border:solid 5px #dadec5;
}

.hero {
    padding-top:8em;
}

.lead {
    font-size: 1.5rem;
}

.icon {
    width:30px;
}

.navbar-collapse {
    justify-content: end;
}

.container {
        max-width: 960px;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
     justify-content:end;
    }
    }
    

